$border-color: #333;
$disabled-color: #ccc;
$disabled-text-color: #888;

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s;
  color: black;

  input[type="checkbox"] {
    display: none;
  }

  &__checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 26px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: var(--primary);


    input[type="checkbox"]:disabled + & {
      background-color: $disabled-color;
      border-color: $disabled-color;
      color: $disabled-text-color;
    }
  }

  &__label {
    margin-left: 5px;
  }

  input[type="checkbox"]:disabled + &,
  &.--disable {
    cursor: not-allowed;
    color: $disabled-text-color;
  }

  &:hover:not(.--disable) {
    transform: translateY(-2px);
  }
}
