.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &__item {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      cursor: pointer;
      border: 1px solid var(--primary);
      padding: 0 20px;
      font-size: 15px;
      &:hover {
        background: var(--primary-hover);
        color: #fff;
        transition: 0.2s;
      }
      &.selected {
        background: var(--primary);
        color: #fff;
      }
    }
  }
  &__content {
    margin-bottom: 15px;
    // padding: 20px;
    // border-radius: 7px;
  }
}
